{% extends "layout.html.jinja" %}
{% from "helpers/link_to.html.jinja" import link_to %}
{% from "helpers/file.html.jinja" import mono_file_summary %}

{% block navigation_list -%}
{{ render_nav('config') }}
{%- endblock navigation_list %}

{%- block content %}

<div class="container-fluid">

  {{ render_all_flash() }}

  {%- macro is_active(expected, actual) -%}
  {%- if expected == actual -%}
  "active"
  {%- endif -%}
  {%- endmacro %}

  {%- macro tab(name, linktext) -%}
  <li class={{ is_active(display_data, name|lower) }}>
    <a href="{{ url_for('show_config') }}?{{ name }}">{{ linktext }}</a></td>
  </li>
  {%- endmacro -%}

  <ul class="nav nav-tabs">
    {{ tab("raw", "raw yaml file ") }}
    {{ tab("parsed", "parsed configuration ") }}
  </ul>
  {% if display_data == "raw" %}
  <p><code>{{ config['CONFIG_YAML'] }}</code></p>
  <pre class="prettyprint lang-yaml">
{{ filer.get_file_summary(config['CONFIG_YAML'], max_size = none) }}
  </pre>
  {% elif display_data == "parsed" %}
  <pre class="prettyprint lang-python">
{{ yaml_config }}
  </pre>
  {% endif %}

</div>

{% endblock content -%}
